---
type Props = {
	name: string;
	title: string;
	photo: string;
	last?: boolean;
}

const { name, title, photo, last } = Astro.props;
---

<div class={`content-section-white${last ? ' last-referral' : ''}`}>
	<div class="content-width referral">
		<svg xmlns="http://www.w3.org/2000/svg" width="80" height="63" viewBox="0 0 80 63" fill="none">
			<path d="M22.222 0a8.89 8.89 0 0 1 8.89 8.889v26.667c0 13.91-7.334 23.08-21.143 26.533a4.445 4.445 0 1 1-2.16-8.622c9.898-2.476 14.413-8.12 14.413-17.911V31.11H8.89a8.89 8.89 0 0 1-8.868-8.22L0 22.222V8.89A8.89 8.89 0 0 1 8.889 0zm48.889 0A8.89 8.89 0 0 1 80 8.889v26.667c0 13.91-7.333 23.08-21.142 26.533a4.445 4.445 0 1 1-2.16-8.622c9.898-2.476 14.413-8.12 14.413-17.911V31.11H57.778a8.89 8.89 0 0 1-8.867-8.222l-.022-.667V8.89A8.89 8.89 0 0 1 57.778 0z" fill="#1D2D35"/>
		</svg>
		
		<blockquote>
			<slot />
		</blockquote>

		<div class="person">
			<img src={photo} alt={`Henkilökuva ${name}`} width="90" height="90" class="pfp-round">
			<div class="person-name">
				<p class="name">{name}</p>
				<p class="title">{title}</p>
			</div>
		</div>
	</div>
</div>